<div class="padding-120"></div>
<div class="container-for-search" style="height: 200px;">

    <div class="row height d-flex justify-content-center">

      <div class="col-md-8">

        <div class="search">
          <i class="fa fa-search"></i>
          <input type="text" class="form-control" placeholder="Просмотр курсов" [(ngModel)]="searchForm">
          <button class="btn btn-primary" (click)="search()">Поиск</button>
        </div>

      </div>

    </div>
</div>

<div class="container-for-cards">
    <div *ngFor="let course of cources">
      <app-course-on-homepage [name]="course.name"
                              [id]="course.id"
                              [author]="course.author"></app-course-on-homepage>
    </div>
</div>
