<div class="card module-card">
  <img src="/assets/logo.png" class="card-img-top" alt="...">
  <div class="card-header" style="text-align: center; color: #9c482f;">
    Авторы: {{author}}
  </div>
  <div class="card-body">
    <h4 class="card-title" style="color: #3061c9; text-align: center; margin-bottom: 20px;">{{name}}</h4>
    <a type="button" class="btn btn-outline-success" style="width: 25%; margin-left: 37.5%" href="module/{{id}}">Изучить</a>
  </div>
</div>
