   <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light" style="border-radius: 25px; top: 0; z-index: 999; width: 100%; max-width: 1200px; background-color: #36e041; color: white">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="index.html" style="color: white">Главная страница</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="registration" style="color: white">Регистрация/Вход</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about-me" style="color: white">О нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="courses" style="color: white">Список курсов</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://codsamara.ru/" style="color: white">Сайт Центра</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
</nav>
